:root {
    font-family: poppins, sans-serif;
    --primary-color: #2d2c2b;
    --secondary-color: #201d1b;
    --accent-color: #3d201b;
    --accent-secondary-color: #3d0503;
    --text-color: #ad9c9c;
    --text-secondary-color: #787767;
}

html, body {
    background-color: var(--primary-color);
    display: block;
    margin: 0px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

span {
  display: inline;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.nav-item, .nav-item:visited, .nav-item:active {
    color: var(--text-color);
    text-decoration: none;
    padding: 1rem 1rem;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

.main {
    background-color: var(--primary-color);
    color: var(--text-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
  background-color: var(--secondary-color);
  border: 2px solid var(--accent-color);
  border-radius: 6px;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 10px;
  margin: 5px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.form-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-bar * {
  display: flex;
  flex-grow: 0;
}

form {
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 40vw;

    margin: 5px;
    top: 20px;
}

form * {
  display: flex;
  margin: 5px;
  flex-grow: 1;
}

input[type=button], input[type=submit] {
  background-color: var(--accent-secondary-color);
  color: var(--text-color);
  border: 2px solid var(--accent-color);
  margin: 10px;
}

