:root {
    font-family: poppins, sans-serif;
    --primary-color: #3d3c3b;
    --secondary-color: #302d2b;
    --accent-color: #5d5553;
    --accent-secondary-color: #6d3533;
    --accent-hover-color: #6d4844;
    --text-color: #bdacac;
    --text-secondary-color: #888777;
}

html, body {
    background-color: var(--primary-color);
    display: block;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  align-self: center;
}

*, ::after, ::before {
    box-sizing: border-box;
}

:link {
  color: #3044CC;
}

:visited {
  color: #823cbb;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    background-color: var(--secondary-color);
    color: var(--text-color);
    overflow-x: scroll;
}

@media only screen and (min-width: 801px) {
  .navbar {
    overflow-x: auto;
  }
}

.nav-item, .nav-item:visited, .nav-item:active {
    color: var(--text-color);
    text-decoration: none;
    padding: 1rem 1rem;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

.main {
    background-color: var(--primary-color);
    color: var(--text-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
  background-color: var(--secondary-color);
  border: 2px solid var(--accent-color);
  border-radius: 6px;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 10px;
  margin: 5px;
}

.note {
  font-size: 0.8em;
}

.form-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-bar * {
  display: flex;
  flex-grow: 0;
}

form {
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;

    margin: 5px;
    top: 20px;
}

@media only screen and (min-width: 4in) {
  form {
    width: 4in;
  }
}

form * {
  display: flex;
  margin: 5px;
  flex-grow: 1;
}

input[type=button], input[type=submit] {
  background-color: var(--accent-secondary-color);
  color: var(--text-color);
  border: 2px solid var(--accent-color);
  border-radius: 3px;
  margin: 10px;
  padding: 5px;
  flex-grow: 1;
  font-size: 1.2em;

  transition: background-color 0.5s;
}

input[type=button]:hover, input[type=submit]:hover {
  background-color: var(--accent-hover-color);
}

input[type=text], input[type=email], input[type=password] {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: 2px solid var(--accent-color);
  border-radius: 3px;
  flex-grow: 2;

  padding: 5px;
}
