{% extends "base.html" %}

{% set title = "Account Login | LHS Programming Club" %}
{% set description = "The Official Lincoln High School Programming Club Website" %}
{% set url = ---WEBSITE_URL_GOES_HERE---}


{% block content %}
<form>
  <h2>Login</h2>
  <div class="card">
    <label for="ref-box">Username or Email:</label>
    <input type="text" id="ref-box" name="ref-box" required>
    <div class="form-bar">
      <label for="password">Password </label>
      <a href="/password-reset" class="note">Forgot password?</a>
    </div>
    <input type="password" id="password-box" name="password-box" required>
    <input type="button" id="login-button" name="login-button" value="Login">
  </div>
  <div class="card">
    <div class="form-bar"><span>Don't have an account?</span> <a href="/register">Create an account.</a></div>
  </div>
</form>
{% endblock %}