{% extends "base.html" %}

{% set title = "Create Account | LHS Programming Club" %}
{% set description = "The Official Lincoln High School Programming Club Website" %}
{% set url = "---WEBSITE_URL_GOES_HERE---" %}


{% block content %}
<form>
  <h2>Create Account</h2>
  <div class="card">
    <label for="username-box">Username</label>
    <input type="text" id="username-box" name="username-box" required>
    <label for="email-box">Email</label>
    <input type="email" id="email-box" name="email-box" required>
    <label for="password-box">Password</label>
    <input type="password" id="password-box" name="password-box" required>
    <label for="confirm-password-box">Confirm Password</label>
    <input type="password" id="confirm-password-box" name="confirm-password-box" required>
    <input type="button" id="register-button" name="register-button" value="Create Account">
  </div>
  <div class="card">
    <div class="form-bar"><span>Already have an account?</span> <a href="/login">Sign into your account.</a></div>
  </div>
</form>
{% endblock %}